
Meduris/.vs/Meduris/v16/.suo
Meduris/.vs/Meduris/v16/Server/sqlite3/storage.ide-shm
Meduris/.vs/Meduris/v16/Server/sqlite3/storage.ide-wal
Meduris/obj/Debug/Meduris.csproj.FileListAbsolute.txt
Meduris/obj/Debug/Meduris.csproj.GenerateResource.cache
Meduris/.vs/Meduris/v16/.suo
Meduris/obj/Debug/Meduris.csproj.FileListAbsolute.txt
Meduris/obj/Debug/Meduris.csproj.GenerateResource.cache
Meduris/.vs/Meduris/v16/.suo
Meduris/.vs/Meduris/v16/Server/sqlite3/storage.ide
Meduris/.vs/Meduris/v16/.suo
Meduris/.vs/Meduris/v16/Server/sqlite3/storage.ide
